.cell {
  width: 130px;
  height: 130px;
  font-size: 80px;
  vertical-align: middle;
  text-align: center;
}
table {
  border-collapse: collapse;
}
td {
  border: solid #5555ff 1px;
  padding: 0em;
}
div#bodycontent {
  width: 600px;
  margin: 50px auto;
}
